local:
  service: Disk
  root: <%= Rails.root.join("storage") %>

test:
  service: Disk
  root: <%= Rails.root.join("tmp/storage") %>

google:
  service: GCS
  project: ramen-ai
  credentials: <%= ENV['GCS_CREDENTIALS'] %>
  bucket: ramen-ai-bucket
